<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/services">Services</a>
        <a href="/order">Place Order</a>
        <a href="/about">About Us</a>
        <a href="/admin">Admin</a>
        <a href="/contact">Contact Us</a>
    </nav>
    <h2>Contact Us</h2>
    <p>Email: <strong>munirmuhd120@gmail.com</strong></p>
    <p>Phone: <strong>+2349061866874</strong></p>
    <p>Address: <strong>No. 25, Yaounde Crescent, Unguwan Rimi Low-Cost, Kaduna, Nigeria</strong></p>
</body>
</html>