<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/services">Services</a>
        <a href="/order">Place Order</a>
        <a href="/about">About Us</a>
        <a href="/admin">Admin</a>
        <a href="/contact">Contact Us</a>
    </nav>
    <h2>Contact Us</h2>

    <h3>Kano Office</h3>
    <p>Email: <strong>kano@cleanspark.com</strong></p>
    <p>Phone: <strong>+2349061234567</strong></p>
    <p>Address: <strong>No. 12, Ibrahim Taiwo Road, Kano, Nigeria</strong></p>

    <h3>Kaduna Office</h3>
    <p>Email: <strong>kaduna@cleanspark.com</strong></p>
    <p>Phone: <strong>+2349061866874</strong></p>
    <p>Address: <strong>No. 25, Yaounde Crescent, Unguwan Rimi Low-Cost, Kaduna, Nigeria</strong></p>

    <h3>Abuja Office</h3>
    <p>Email: <strong>abuja@cleanspark.com</strong></p>
    <p>Phone: <strong>+2349069876543</strong></p>
    <p>Address: <strong>No. 8, Aminu Kano Crescent, Wuse 2, Abuja, Nigeria</strong></p>
</body>
</html>